{% extends "base.html" %}

    {% block content %}

    <div class="global-container">
     
    <div class="cart-text">
        {% if messages %}
    
        {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}  
        </div>
        {% endfor %}
        {% endif %}
    <div class="continer">
        <div class="card-body">
        <form class="form" method="post" id="form">
            {% csrf_token %}
            <h4 style="color: rgb(0, 0, 0);">Forget Password</h4>       
            <div class="form-group">
                <label for="password" style="color: rgb(0, 0, 0);">Username</label>
                <input type="text" name="username"  class="form-control">
            </div>
            <button class="btn btn-dark" type="submit">Submit</button>
            <a href="{% url 'login_attempt' %}" class="btn btn-outline-dark">Back</a>
            </div>
        </div>
        </form>
    </div>
</div>


    {% endblock %}